colored
cuda-python
diffusers==0.12.0
ftfy
matplotlib
nvtx
onnx==1.12.0
--extra-index-url https://pypi.ngc.nvidia.com
onnx-graphsurgeon==0.3.25
onnxruntime==1.13.1
polygraphy==0.43.1
scipy
transformers==4.25.1

flask
accelerate
python-magic
kornia
git+https://github.com/openai/CLIP.git
positional-encodings[pytorch]
